/* #eae9f1 pale
 * #bcb9d3
 * #918cb6
 * #746f91
 * #484558 dark
 */


body {

	background-color: #eae9f1; /*pale blue*/
	color: #746f91; /*dark blue*/ 
	font-family: sans-serif;
	margin-top: 3%;
	margin-left: 10%;
	margin-right: 10%;

}

a {

	color: #484558; /**/
	text-decoration: none;

}

a:hover {

	background-color: #eae9f1;

}

#header {

	clear: both;
	color: #484558; /*#666;*/
	/*text-shadow: 1px 1px #fff;*/
	font-size: 2em; /*1.7em;*/

}

#menu {
	clear: both;
	overflow: hidden;
	color: #069;
	background-color: #bcb9d3;
	padding: 0.7ex;
	font-size: 94%;
	text-align: center;
}

#footer {
	clear: both;
	color: #666;
	border-top: 1px solid #ccc;
	font-size: 84%;
	padding: 1em;
	margin: 0 0 1.5em 0;
}
