<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    	<title>densys.org</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>

  <body>
	  
    <div id="header">
      <a id="headerLink" href="index">densys.org</a> 
    </div>

    <div id="menu">
       <a href="about">about</a>
       <a href="analyses">analyses</a>
       <a href="papers">papers</a>
       <a href="https://github.com/maxrousseau/densys.org">source</a>
    </div>

	<div class="custom-select" style="width:150px;">
	  <select>
		<option value="0">Select your analysis</option>
		<option value="asym">Asymmetry</option>
		<option value="lfh">Lower face height</option>
		<option value="ratio1">Ratio 1</option>
		<option value="ratio2">Ratio 2</option>
		<option value="ratio3">Ratio 3</option>
	  </select>
	</div>

    <div id="footer">
      <span class="right"> &copy; 2018 densys.org | Maxime Rousseau </a>
      </span>
    </div>

</body>

</html>
