<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    	<title>densys.org</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>

  <body>
	  
    <div id="header">
      <a id="headerLink" href="/">densys.org</a> 
    </div>

    <div id="menu">
       <a href="//">about</a>
       <a href="//">analyses</a>
       <a href="//">papers</a>
       <a href="//">source</a>
    </div>
    
    <div id="main">
      <p>Research, implementation and dissemination of machine learning 
	  tools in dentistry.</p>
    </div>

    <div id="footer">
      <span class="right"> &copy; 2018 densys.org | Maxime Rousseau </a>
      </span>
    </div>

</body>

</html>
